version: '3.8'
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: afroza
      POSTGRES_USER: afroza
      POSTGRES_PASSWORD: afroza
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7

  minio:
    image: quay.io/minio/minio
    command: server /data
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    ports:
      - "9000:9000"

volumes:
  pgdata:
